.overlay {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), #df8545);
}

.Bakery-overlay {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), #df8545);
}
.Career-pix {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), #df8545);
}
